.o_report_menu_background {
  // background-image: url(/meal_menu_reports/static/img/menu_bg.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 1206px;
}
